.blog-area{
    width: 97%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.answer-container:first-child{
    margin-bottom: 40px;
}

.answer-container p{
    font-size: 18px;
    text-align: justify;
}